:root {
    --lime-reen: hsl(163, 72%, 41%);
    --bright-red: hsl(356, 69%, 56%);
    --facebook-color: hsl(208, 92%, 53%);
    --twitter-color: hsl(203, 89%, 53%);
    --instagram-color: linear-gradient(to right, rgba(253,196,104,1) 0%, rgba(223,73,150,1) 100%) 1;
    --youtube-color: hsl(348, 97%, 39%);
    --dark-toggle-color: linear gradient hsl(210, 78%, 56%) to hsl(146, 68%, 55%);
    --light-toggle-color: hsl(230, 22%, 74%);

    --dark-bg-blue: hsl(230, 17%, 14%);
    --dark-pattern-blue: hsl(232, 19%, 15%);
    --dark-bg-card-blue: hsl(228, 28%, 20%);
    --dark-text-blue: hsl(228, 34%, 66%);
    --dark-text-white: hsl(0, 0%, 100%);

    --light-bg-white: hsl(0, 0%, 100%);
    --light-pattern-blue: hsl(225, 100%, 98%);
    --light-bg-card-grayish: hsl(227, 47%, 96%);
    --light-text-grayish: hsl(228, 12%, 44%);
    --light-text-blue:  hsl(230, 17%, 14%);

    --font-size: 14px;
    --font-family: 'Inter', sans-serif;
}

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: var(--font-size);
    font-family: var(--font-family);
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow-x: hidden;
    color: var(--light-text-blue);
}

main {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 1.5rem auto;
}

header {
    width: 100%;
}

.header__text__title {
    font-size: 1.6rem;
    color: var(--light-text-blue);
    margin-bottom: 0;
}

.header__text__followers {
    font-weight: 600;
    color: var(--light-text-grayish);
    margin-top: .5rem;
    margin-bottom: 1.8rem;
}

.header__line {
    height: 2px;
    background-color: var(--light-toggle-color);
    border-width: 0;
}

.header__toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toggle__text {
    color: var(--light-toggle-color);
    font-weight: 600;
}

.toggle__label {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}

.toggle__label__input {
    display: none;
}

.toggle__label__circle {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--light-toggle-color);
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    border-radius: 34px;
    -webkit-border-radius: 34px;
    -moz-border-radius: 34px;
    -ms-border-radius: 34px;
    -o-border-radius: 34px;
}

.toggle__label__circle:before {
    position: absolute;
    content: "";
    width: 19px;
    height: 19px;
    right: 4.5px;
    bottom: 3.5px;
    background-color: #fff;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.toggle__label__input:checked + .toggle__label__circle:before {
    right: 27px;
}

.toggle__label__input:checked + .toggle__label__circle, .toggle__label__circle:hover{
    background: rgb(55,143,230);
    background: linear-gradient(90deg, rgba(55,143,230,1) 0%, rgba(62,218,130,1) 100%); 
}

.rrss {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.rrss__card {
    width: 100%;
    margin: 1rem;
    padding: 2rem;
    text-align: center;
    background-color: var(--light-bg-card-grayish);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.rrss__card--facebook {
    border-top: 4px solid var(--facebook-color);
}

.rrss__card--twitter {
    border-top: 4px solid var(--twitter-color);
}

.rrss__card--instagram {
    border-width: 4px;
    border-style: solid;
    border-image: var(--instagram-color);
    border-bottom: none;
    border-left: none;
    border-right: none;
}

.rrss__card--twitter {
    border-top: 4px solid var(--twitter-color);
}

.rrss__card--youtube {
    border-top: 4px solid var(--youtube-color);
}

.rrss__card__user, .rrss__card__today {
   display: flex;
   align-items: center;
   justify-content: center;
}

.rrss__card__user .user__at {
    margin-left: 8px;
    font-size: .85rem;
    font-weight: 600;
    color: var(--light-text-grayish);
}

.rrss__card__followers .followers__number {
    font-size: 4rem;
    font-weight: 600;
    margin: 0;
    margin-top: 1rem;
}

.rrss__card__followers .followers__text {
    letter-spacing: .3rem;
    margin: 0;
    color: var(--light-text-grayish);
}

.rrss__card__today {
    margin-top: 1.5rem;
}

.rrss__card__today .today__text {
    font-size: .9rem;
    font-weight: 600;
    margin-left: .4rem;
    color: var(--lime-reen);
}

.text--red {
    color: var(--bright-red) !important;
}

.overview {
    width: 100%;
}

.overview__title {
    font-size: 1.6rem;
    color: var(--light-text-grayish);
    margin-top: 3rem;
}

.overview__card {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    padding: 1rem 2rem;
    margin-bottom: 1.2rem;
    font-weight: 600;
    background-color: var(--light-bg-card-grayish);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.overview__card__img, .overview__card__stat {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   width: 100%;
}

.overview__card__title {
    color: var(--light-text-grayish);
}

.overview__card__number {
    font-size: 2rem;
    margin: 0;
    margin-top: .4rem;
}

.overview__card__stat span {
    color: var(--lime-reen);
    margin-left: .3rem;
}

@media (min-width: 576px) {
    main {
        width: 60%;
    }
}

@media (min-width: 768px) {
    main {
        width: 50%;
    }
}

@media (min-width: 992px) {
    main {
        width: 95%;
    }

    header {
        display: flex;
        justify-content: space-between;
    }

    .header__text__title {
        font-size: 1.8rem;
    }

    .toggle__text {
        margin-right: 1rem;
    }

    .toggle__label__circle:before {
        bottom: 3px;
    }
    
    .header__line {
        display: none;
    }

    .rrss {
        flex-direction: row;
    }

    .rrss__card {
        margin: 0;
        margin-right: 1rem;
        width: 100%;
    }

    .rrss__card:last-child{
        margin-right: 0;
    }

    .overview {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 1rem;
    }

    .overview__card {
        padding: 1.5rem;
    }
}

@media (min-width: 1200px) {
    main {
        width: 85%;
    }
}

@media (min-width: 1440px) {
    main {
        width: 70%;
    }

    header {
        margin-top: 3rem;
    }
}

@media (min-width: 1920px) {
    header {
        margin-top: 5rem;
    }
}






